@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

/** ---- BASIC ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

a {
  font-family: "Ubuntu";
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Ubuntu";
  font-size: 8rem;
  font-weight: 400;
  line-height: 92px;
  color: white;
}

h2 {
  font-family: "Ubuntu";
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 52px;
  color: #957554;
}

h3 {
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: 500;
  line-height: 46px;
  color: white;
}

h4 {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: 500;
  line-height: 34px;
  color: white;
}

p {
  font-family: "Ubuntu";
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 20px;
}

/** ---- Headder ---- */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 30vh;
  width: 100%;

  padding: 1%;
}

header img {
  height: 100px;
  width: 150px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40%;
}

header nav a {
  color: #957554;
}

header nav img {
  height: 20px;
  width: 20px;
}

/** --- Main Section 1 --- */

/** ---- Main Section 2 ---*/
